# Python virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.toml

# Poetry
.poetry/
poetry.lock

# Local artifacts
artifacts/
data/
logs/

# IDE / OS
.vscode/
.idea/
.DS_Store



# Tests / notebooks (optional)
.ipynb_checkpoints/

.databricks/*
.databricks/
.databricks/bundle/default/deployment.json
.databricks/bundle/default/sync-snapshots/030c118095d91047.json
.databricks/bundle/default/sync-snapshots/99bcf89df0963dbe.json
.databricks/bundle/default/deployment.json
.databricks/bundle/default/terraform/bundle.tf.json
